#submitButton {
    width: 330px;
    height: 205px;
    margin: auto;
    background-image: url("grrr-button.svg");
}

#submitButton:active {
    width: 330px;
    height: 205px;
    margin: auto;
    background-image: url("grrr-button-pushed.svg");
}