
.pageTitle {
  height: 56px;
  background-color: #e24026;
  padding: 20px 24px;
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
}
form {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
}

form .form-control {
  color: #000000;
  background-color: #ebebeb;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  margin: 18px 0;
}

.myCheckbox.checkbox label {
  font-weight: 600 !important;
}